@charset "UTF-8";

@font-face {
    font-family: 'Passion One';
    src: url(fontes/PassionOne-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha-Regular.ttf) format(truetype);
}

:root{
    --fonte-destaque: 'Passion One';
    --fonte-padrão: 'Sriracha';

    --cor01: #ffffff;
    --cor02: #000000;
}

*{
    margin: 0px;
}

body{
    background: var(--cor02) url(imagens/background001.jpg) center center no-repeat fixed;
}

aside{
    background: var(--cor02) url(imagens/background002.jpg) center center no-repeat fixed;

    padding: 1px 0px 1px 0px;
}

header{
    background-color: var(--cor02);
    text-align: center;
    padding-bottom: 75px;
}

header h1{
    display: inline-block;
    font-family: var(--fonte-destaque);
    font-size: 7.2em;

    color: var(--cor01);
    letter-spacing: 2px;
    padding-top: 35px;
}

header h1#primeiro{
    padding-right: 30px;
}

header h1#segundo{
    padding-left: 30px;
}

header h1::first-letter{
    font-size: 1.5em;
}

header p{
    color: var(--cor01);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
}

header a{
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
}

main{
    background-color: var(--cor01);
    height: 1100px;
    box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.849);
}

main#Mmeio{
    height: 2000px;
}

main#Ffim{
    height: 2000px;
}

article#inicio{
    font-family: var(--fonte-padrão);
    position: absolute;
    padding-bottom: 50px;
    left: 3%;
    top: 45%;
}

article.geral{
     font-family: var(--fonte-padrão);
     position: relative;
     left: 3%;
     top: 5%;
}

article p{
    font-size: 4em;
    max-width: 800px;
}

article p.espaço{
    margin-top: 100px;
}

div{
    font-family: var(--fonte-padrão);
    background-color: rgba(0, 0, 0, 0.521);
    position: relative;
    padding: 5px 10px 5px 10px;
    margin: 100px 885px 100px 25px;
}

div p{
    color: var(--cor01);
    text-shadow: 1px 1px 1px black;
    font-size: 3.9em;
}

footer{
    background-color: var(--cor02);
    padding-top: 5px;
    padding-bottom: 5px;
}

footer p{
    text-align: center;
    color: var(--cor01);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

footer a{
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}